<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Workout List</h1>
    
    <a href="/add-workout" class="add-workout-link">
        <button>Add Workout</button>
    </a>

    {{#if workouts.length}}
        <ul>
            {{#each workouts}}
                <div class="workout-box">
                    <h2>{{name}}</h2>
                    <ul>
                        <li>Sets: {{sets}}</li>
                        <li>Reps: {{reps}}</li>
                    </ul>
                    <form action="/delete-workout/{{_id}}" method="post" class="delete-form">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            {{/each}}
        </ul>
    {{else}}
        <p>No workouts available.</p>
    {{/if}}
</body>

</html>
